#henu_img{
	height: 40px; 
	float: left; 
	margin: 4px 10px;
}
.content{
	width:1000px; 
	margin: 0 auto;
	/* border: 1px solid #000; **/
}

.text_pre{
	white-space: pre;
}

.span_text{
  color: #9d9d9d;
  font-size: 20px;
  line-height: 48px;
  margin-right:20px;
}

.error_div{
	color: red; 
	text-align: left;
	padding-left: 100px;
	padding-bottom: 20px;
}


